<div class="friend-block">

	<span class="name">FriendName</span><br>
	<span class="status" style="color: green">online</span>

	<div class="buttons">
		{{inputs/fa-button icon="fa-trash"}}
		{{inputs/fa-button icon="fa-envelope"}}
	</div>

</div>