<table>


	<tr id="row">

		<th class="name">
			<i class="fa fa-plus-circle" />
			<span>New room</span>
		</th>

	</tr>


	<tr class="expanded">

		<th>
			<div class="roomName">
				{{inputs/default-textbox placeholder="Room name"}}
			</div>
			<div class="roomPassword">
				{{inputs/default-textbox placeholder="Password"}}
			</div>
			<div class="roomDescription">
				{{textarea placeholder="Room description..."}}
			</div>
		</th>

		<th colspan="3" class="options">
			
			Options

		</th>
	</tr>


</table>