<div>

	<div class="left">
		{{#if userLogged}}
			{{inputs/fa-button icon="fa-user" action="openUserPopup"}}
			Username
		{{/if}}
	</div>

	<div class="center">
		{{#if showTitle}}
			<span class="logo">Sketch<span>it</span></span>
		{{/if}}
	</div>

	<div class="right">

		{{#if userLogged}}
			{{inputs/fa-button icon="fa-bell" class="notifications" action="userNotifications" disabled=true}}
		{{/if}}

		{{#if canMinimize}}
			{{inputs/fa-button icon="fa-window-restore" class="restore" action="appMinimize"}}
		{{/if}}

		{{#if canClose}}
			{{inputs/fa-button icon="fa-close" class="close" action="appClose"}}
		{{/if}}

	</div>

</div>