/*
	STYLE ENTRY POINT - DEFINES ALL GLOBAL STYLES AND INGLUDES SPECIFIC STYLES
*/

@import 'fonts';
@import 'forms';

body
{
	// - Colors
	background-color: #FFFFFF;

	// - Positing
	padding: 0px;

	// - Default font
	font-family: avenir;
}

textbox
{
	.DefaultTextbox(20px, 200px, true, true)
}

checkbox
{
	.DefaultCheckbox(15px);
}

.apple
{
	.AppleCheckbox(15px) !important;
}

radiobutton
{
	.DefaultRadiobutton(15px);
}

slider
{
	.DefaultSlider(200px);
}