/*
	STYLE ENTRY POINT - DEFINES ALL GLOBAL STYLES AND INGLUDES SPECIFIC STYLES
*/

@import 'fonts';
@import 'forms';
@import 'flags';
@import 'topbar';

body
{
	// - Colors
	background-color: #FFFFFF;

	// - Positing
	padding: 0px;
	margin: 0px;

	width: 100%;

	// - Default font
	font-family: avenir;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
