.gameplay
{
	// - Size
	width: 100%;
	height: calc(~"100% - 47px");

	.right
	{
		// - Positioning
		display: inline-block;
		text-align: right;

		// - Size
		width: 610px;

		confirmButton
		{
			// - Buttons positioning
			display: inline-block;
			margin-right: 10px;
		}
	}

	.left
	{
		// - Size
		width: 520px;
		height: 100%;

		// - Positioning
		display: inline-block;

		.top
		{
			// - Separator from chat
			border-bottom: 2px dashed #DDD;

			// - Size
			height: 150px;

			// - Positioning
			padding: 5px;

			.users
			{
				// - Positioning
				padding-left: 15px;
				display: inline-block;

				// - Size
				width: 230px;
				height: 150px;

				// - User list croll
				overflow-y: scroll;

				.UserList(15px);
			}

			.round
			{
				// - Positioning
				vertical-align: top;
				padding: 5px;

				// - Size
				width: 250px;

				.timer
				{
					// - Positioning
					padding-left: 10px;

					// - Size
					height: 60px;

					// - Font style
					line-height: 15px;

					// - Bottom separator
					border-bottom: 1px solid #DDD;

					.radialChart { float: left; }

					.info
					{
						// - Positioning
						padding-top: 10px;

						// - Text color
						color: #444;

						// - Text round and role
						.roundNumber { font-weight: bolder; margin-left: 14px; }
						.role { font-weight: bolder; color: #888; font-size: 13px; margin-left: 14px; }
					}
				}

				.word
				{
					// - Positioning
					text-align: center;
					margin-top: 20px;

					// - Font style
					font-weight: bolder;
					color: #555;

					i
					{
						// - Font style for icon (i)
						font-size: 23px;
					}

					.word
					{
						// - Word color
						color: rgb(150, 0, 0);

						// - Font style
						font-size: 23px;
						font-weight: 700;
						letter-spacing: 3px;
					}

				}
			}
		}

		.bottom
		{
			// - Size
			height: calc(~"100% - 165px");

			.chat
			{
				// - Size
				height: 100%;
			}
		}

		.round
		{
			display: inline-block;
		}
	}

}

.gameEndPopup
{
	.winner
	{
		// - Positioning
		text-align: center;
		padding-top: 10px;

		// - Font style
		font-size: 25px;
		color: #AAA;

		.username
		{
			// - Font style
			font-size: 50px;
			font-weight: bolder;
			color: rgb(7, 227, 230);
			text-shadow: 1px 1px 0px rgba(39, 139, 145, 1);
		}

		div,
		img
		{
			// - Inline style for stars
			display: inline-block;
		}

		div
		{
			// - Star positioning and text positioning
			vertical-align: 90%;
			margin-left: 20px;
			margin-right: 20px;
		}

		.left
		{
			// - Left star rotation
			transform: rotate(-20deg);
		}

		.right
		{
			// - Right star rotation
			transform: rotate(20deg);
		}
	}

	.stats
	{
		// - Positioning
		padding-top: 20px;
		
		.users
		{
			// - Positioning
			padding-left: 15px;
			display: inline-block;
			text-align: left;

			// - Size
			width: 430px;
			height: 350px;

			// - User list scroll
			overflow-y: scroll;

			.UserList(20px);
		}

		.drawings
		{
			// - Positioning
			display: inline-block;
			vertical-align: top;

			.list
			{
				// - Positioning
				display: inline-block;
				vertical-align: top;
				padding: 0px;
				margin: 0px;

				// - Scroll
				overflow-y: scroll;
    			height: 310px;

				li
				{
					// - Positioning
					margin: 5px;

					// - Reset list style
					list-style: none;
					padding: 0px;

					// - Borders
					border-radius: 5px;
					border: 2px solid #AAA;

					&:hover
					{
						// - Border highlight
						border: 2px solid rgb(7, 227, 230);

						// - Cursor
						cursor: pointer;
					}

					&:active
					{
						// - Border highlight
						border: 2px solid rgb(39, 139, 145);
					}
				}
			}

			.viewer
			{
				// - Positioning
				display: inline-block;
				position: relative; 

				// - Borders
				border-radius: 5px;
				border: 2px solid #AAA;

				.details
				{
					// - Animation
					-webkit-transition: all 300ms 0s ease-in-out;
					transition: all 300ms 0s ease-in-out;

					// - Size
					width: 100%;
					height: 55px;

					// - Overflow
					overflow: hidden;

					// - Background
					background: rgba(0, 0, 0, 0.4);

					// - Borders
					border-bottom-right-radius: 3px;
					border-bottom-left-radius: 3px;

					// - Positioning
					position: absolute; 
					bottom: 0px;

					&:hover
					{
						// - Open details
						height: 100%;
					}

					.content
					{
						// - Positioning
						margin-top: 10px;
						margin-left: 5px;

						.word
						{
							// - Font style
							font-size: 25px;
							font-weight: bolder;
							font-stretch: condensed;
							color: #FFF;
						}

						.author
						{
							// - Font style
							font-size: 14px;
							color: #E5E5E5;
						}

						.round
						{
							// - Positioning
							margin-top: 10px;
							margin-left: 5px;

							// - Font style
							font-size: 16px;
							font-weight: bolder;
							color: #FFF;
						}

						.scores
						{
							// - Background
							background: rgba(0, 0, 0, 0.3);

							// - Positioning
							padding-top: 5px;

							// - Size
							height: 100%;

							.score
							{
								// - Font style
								font-size: 20px;
								font-weight: bolder;
								color: #FFF;

								// - Positioning
								margin-left: 10px;
							}

							.scoreboard
							{
								.UserList(15px, #FFF);

								// - Size
								height: 207px;

								// - Overflow
								overflow-y: scroll;

								// - Text style
								text-align: left;

								table > tr > th
								{
									padding-left: 10px;
								}
							}
						}
					}
				}
			}
		}
	}

	.buttons
	{
		// - Spacing
		default-button
		{
			margin-left: 10px;
		}
	}
}